# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Cloudflare binary
cloudflared.exe

# Temporary user uploads and generated outputs
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
*.pdf
*.zip

# Virtual Environments
venv/
env/
ENV/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
